/* Layout Background */
.left,
.right {
    background-color: #C4431E;
}

/* Image */
.left img {
    width: 70%;
}

/* Card */
.card-custom {
    width: 65%;
    background: #FBD46D;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* Title */
.title {
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
}

/* Line */
hr {
    border: none;
    border-bottom: 2px solid white;
    width: 70%;
    margin: 10px auto 25px;
}

/* Inputs */
.input-custom {
    padding: 10px;
    border-radius: 10px !important;
    font-size: 14px;
    border: none;
}

/* Button */
.btn-custom {
    background: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 12px;
    width: 60%;
    font-weight: bold;
    cursor: pointer;
}

.btn-custom:hover {
    background: #f1f1f1;
}

/* Responsiveness */
@media (max-width: 768px) {
    .card-custom {
        width: 90%;
        padding: 30px;
    }
}